@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Light"), local("Quicksand-Light"), url("../fonts/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand-Light.woff") format("woff"), url("../fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Medium"), local("Quicksand-Medium"), url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff"), url("../fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
ol[class], ul, ul[class], menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, label {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #000;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote, body, dd, dl, figcaption, figure, h1, h2, h3, h4, li, ol[class], p, ul[class] {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

button, input, select, textarea {
  font: inherit;
}

button {
  all: unset;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0s !important;
    -o-transition-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
.banner:before, .banner:after {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.container-lg,
.container-md {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.container-lg {
  max-width: 1235px;
}

.container-md {
  max-width: 920px;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

a,
label {
  color: #697CA6;
  text-decoration: none;
  display: inline-block;
}

p {
  color: #697CA6;
}

.d-flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  border-bottom: 1px solid #D8E3FE;
  font-size: 12px;
  font-weight: 500;
  max-height: 83px;
  min-height: 83px;
}
.header__wrapper {
  padding: 18px 0;
}
.header__navigation {
  gap: 73px;
}
.header__navigation-logo a {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #5E81FE;
  border-radius: 50%;
}
.header__navigation-logo a:hover {
  background-color: #D8E3FE;
  transform: scale(1.2);
  transition: 0.3s;
}
.header__navigation nav menu {
  gap: 42px;
}
.header__navigation nav menu a.active {
  font-weight: 700;
  color: #5E81FE;
}
.header__navigation nav menu a:hover:not(.active) {
  font-weight: 500;
  color: #5E81FE;
  transition: 0.3s;
}
.header__social {
  gap: 44px;
}
.header__social-icons ul {
  gap: 38px;
}
.header__social-icons ul i {
  font-size: 20px;
}
.header__social-icons ul i:hover {
  transition: 0.3s;
  color: #5E81FE;
  transform: scale(1.2);
}
.header__social-cta a {
  display: inline-block;
  background-color: #D2E1FF;
  border-radius: 2px;
  padding: 13px 21px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 13px;
  font-weight: 700;
}

.header__media-menu-btn {
  display: none;
}
@media (min-width: 875px) {
  .header [for=header__media-menu-btn],
  .header .hidden-desktop {
    display: none;
  }
}
@media (max-width: 875px) {
  .header {
    min-height: 83px;
    max-height: 83px;
  }
  .header__wrapper {
    position: relative;
  }
  .header .row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header__social {
    width: initial;
  }
  .header [for=header__media-menu-btn] {
    background-color: #D2E1FF;
    border-radius: 2px;
    padding: 13px 21px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
  }
  .header__social-cta {
    display: none;
  }
  .header__navigation {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 30px;
    width: 18%;
    min-width: 140px;
  }
  .header__navigation nav {
    width: 100%;
    display: none;
    position: absolute;
    top: 83px;
    left: 0;
    background-color: #E0E9FF;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .header__navigation nav menu {
    flex-direction: column;
    gap: 0;
  }
  .header__navigation nav a {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
  }
  .header__navigation nav a:hover {
    background: #5E81FE;
    transition: 0.3s;
    color: white !important;
  }
  .header__media-menu-btn:checked + nav {
    display: initial;
  }
}
@media (max-width: 365px) {
  .header__navigation {
    gap: 20px;
  }
  .header__social-icons ul {
    gap: 20px;
  }
}

.banner {
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  height: calc(100vh - 83px);
  position: relative;
  min-height: 550px;
}
.banner:before, .banner:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.banner:before {
  background-image: url("../assets/img/clouds.svg");
  z-index: 1;
}
.banner:after {
  background-image: url("../assets/img/chart.svg");
  z-index: 0;
}
.banner__content {
  width: 100%;
}
.banner__wrapper {
  z-index: 2;
  position: relative;
  height: 100%;
  padding-top: 15vh;
}
.banner__title-wrapper {
  gap: 28px;
}
.banner__subtitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3D4F9F;
}
.banner__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #3D4F9F;
}
.banner__description {
  font-size: 15px;
  line-height: 191%;
  max-width: 502px;
  margin: 0 auto;
  padding: 0 5px;
}
.banner__play {
  margin-top: 20px;
}
.banner__play a {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 50px 0px rgba(201, 209, 231, 0.6);
  margin: 0 auto;
}
.banner__controls {
  gap: 12px;
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}
.banner__controls-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D1D6E3;
}
.banner__controls-item:hover, .banner__controls-item-active {
  background-color: #5283FF;
  transition: 0.3s;
  cursor: pointer;
}

.customers {
  margin: 58px 0;
}
.customers__content {
  gap: 76px;
}

@media (max-width: 875px) {
  .customers__content {
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .customers__content {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .customers .row {
    justify-content: center;
  }
  .customers {
    margin: 15px auto;
  }
  .customers__content {
    flex-direction: column;
  }
}

.plan {
  background-color: #F5F8FF;
}
.plan__wrapper {
  height: 100%;
  padding: 17vh 0;
}
.plan__content {
  width: 100%;
}
.plan__content-col {
  width: 50%;
}
.plan__title-wrapper {
  gap: 27px;
  margin-bottom: 47px;
  width: 100%;
}
.plan__subtitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: #3D4F9F;
}
.plan__title {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3D4F9F;
  font-weight: 400;
}
.plan__description {
  color: #8D96BD;
  line-height: 191%;
  letter-spacing: 3%;
  max-width: 410px;
}
.plan__title-btn-video a, .plan__title-btn-see a {
  display: inline-block;
  border-radius: 2px;
  padding: 13px 21px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 13px;
}
.plan__title-btn-video a {
  background-color: #4C85FF;
  color: white;
  font-weight: 700;
}
.plan__title-btn-see a {
  color: #ADB4D2;
  font-weight: 500;
}
.plan__illustration-col {
  width: 50%;
}
.plan__illustration-col img {
  max-width: 650px;
  width: 100%;
  position: absolute;
  height: auto;
  object-fit: cover;
}

@media (max-width: 1250px) {
  .plan__illustration-col {
    position: relative;
  }
}
@media (max-width: 875px) {
  .plan__content {
    flex-direction: column;
  }
  .plan__wrapper {
    padding: 10vh 0 0;
  }
  .plan__illustration-col, .plan__illustration-col img {
    position: static;
  }
  .plan__illustration-col, .plan__content-col {
    width: 100%;
  }
  .plan__title-wrapper {
    align-items: center;
  }
  .plan__content-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .plan__illustration-col {
    display: flex;
    justify-content: center;
  }
  .plan__title {
    text-align: center;
  }
}

.about__wrapper {
  height: 100%;
  padding: 13vh 0;
}
.about__content {
  background-image: url("../assets/img/clouds-about.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}
.about__title-wrapper {
  padding-bottom: 72px;
}
.about__subtitle {
  font-weight: 500;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: #3D4F9F;
  padding: 30px 0 20px;
}
.about__title {
  color: #3D4F9F;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.about__features {
  margin-bottom: 90px;
}
.about__features-wrapper {
  flex-wrap: wrap;
  gap: 67px;
  justify-content: space-between;
}
.about__features-item:nth-child(-n+3):after {
  content: "";
  border: 1px solid #DAE4FE;
  max-width: 28px;
  width: 100%;
  position: absolute;
  top: 50%;
  right: -50px;
}
.about__features-item {
  width: calc(25% - 51px);
  position: relative;
}
.about__features-item img {
  width: 69px;
  height: 69px;
  margin-bottom: 30px;
}
.about__features-item h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 177%;
  letter-spacing: 0;
  text-align: center;
  color: #4074F8;
  margin-bottom: 25px;
}
.about__features-item p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 177%;
  letter-spacing: 0;
  color: #ADB3CB;
}
.about__buttons-item {
  position: relative;
}
.about__buttons-item a {
  padding: 13px 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.about__buttons-item:first-of-type a {
  color: #D43F3F;
  background-color: #FFD7D7;
}
.about__buttons-item:last-of-type a {
  color: #3A79FF;
  background-color: #D2E1FF;
}
.about__buttons-item p {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 177%;
  letter-spacing: 0;
  padding: 13px 47px;
  color: #ADB3CB;
}
.about__buttons-item:nth-child(2):before, .about__buttons-item:nth-child(2):after {
  content: "";
  border: 1px solid #DAE4FE;
  max-width: 15px;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 15px;
}
.about__buttons-item:nth-child(2):after {
  right: 15px;
}
.about__buttons-item:nth-child(2):before {
  left: 15px;
}

@media (max-width: 875px) {
  .about__features-wrapper {
    gap: 30px;
  }
  .about__features-item:nth-child(-n+3):after {
    right: -30px;
  }
}
@media (max-width: 768px) {
  .about__wrapper {
    padding: 8vh 0;
  }
  .about__features {
    margin-bottom: 40px;
  }
  .about__features-item {
    width: 45%;
  }
  .about__features-item:nth-child(-n+3):after {
    right: -50px;
  }
}
@media (max-width: 576px) {
  .about__features-item {
    width: 100%;
  }
  .about__features-item:nth-child(-n+3):after {
    display: none;
  }
}
@media (max-width: 576px) {
  .about__buttons-wrapper {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
