.footer {
  padding: 10vh 0;
  p {
    color: #AEB8D0;
    font-family: $font-quicksand;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    padding-left: 100px;
  }
}