.started {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  position: relative;
  padding: 15vh 0;

  &__content {
    max-width: 712px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
  }

  &:before {
    @extend %bg-default;

    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("../assets/img/clouds-started.svg");
  }

  &__title-wrapper {
    padding-bottom: 40px;
  }

  &__subtitle {
    @extend %subtitle-default;
    color: white;
    padding-bottom: 16px;
  }

  &__title {
    @extend %main-title-default;
    font-weight: 300;
    color: white;
    padding-bottom: 28px;
  }

  &__description {
    color: white;
  }

  &__button {
    &-first {
      @extend %btn-default;

      padding: 14px 17px;
      background-color: #ffffff;
      color: #565F82;
    }

    &-second {
      @extend %btn-default;
      padding: 13px 8px;
      color: #C7D3FF;
      border: 1px solid #A0B4FF
    }
  }


}