.blog {
  padding: 15vh 0 20vh;
  background-color: #F5F8FF;
  position: relative;

  &__content {
    width: 100%;
  }

  &__title-wrapper {
    padding-bottom: 90px;
  }

  &__subtitle {
    @extend %subtitle-default;
    padding-bottom: 20px;
  }

  &__title {
    @extend %secondary-title-default;
  }

  &__description {
    position: relative;

    &-vector-l img,
    &-vector-r img {
      width: 23px;
      height: 16px;
      position: absolute;
      top: 50%;
    }

    &-vector-l img{
      left: -75px;
    }

    &-vector-r img {
      right: -75px;
    }

    &-wrapper {
      flex-wrap: wrap;
      width: 100%;
      column-gap: 60px;
      background-color: white;
      z-index: 3;
      padding: 60px 30px;
    }

    &-img {
      width: 46%;
    }

    &-text {
      width: 46%;
      justify-content: space-between;

      h2 {
        @extend %less-title-default;
      }
    }
  }

  &__buttons-wrapper a:first-of-type {
    color: #3A79FF;
    background-color: #D2E1FF;
    padding: 13px 15px;
    border-radius: 2%;
    @extend %btn-default;
    margin-right: 10px;
  }

  &__buttons-wrapper a:last-of-type {
    padding: 13px 15px;
    @extend %btn-default;
  }

  &__controls {
    gap: 12px;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);

    &-item {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #D1D6E3;

      &:hover,
      &-active {
        background-color: #5283FF;
        transition: .3s;
        cursor: pointer;
      }
    }
  }
}