.banner {
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  height: calc(100vh - #{$header_height});
  position: relative;
  min-height: 550px;

  &:before,
  &:after {
    @extend %bg-default;

    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:before {
    background-image: url("../assets/img/clouds.svg");
    z-index: 1;
  }

  &:after {
    background-image: url("../assets/img/chart.svg");
    z-index: 0;
  }

  &__content {
    width: 100%;
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    height: 100%;
    padding-top: 15vh;
  }

  &__title-wrapper {
    gap: 28px;
  }

  &__subtitle {
    @extend %subtitle-default;
  }

  &__title {
    @extend %main-title-default;
  }

  &__description {
    font-size: 15px;
    line-height: 191%;
    max-width: 502px;
    margin: 0 auto;
    padding: 0 5px;
  }

  &__play {

    margin-top: 20px;

    a {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 10px 50px 0 #C9D1E799;
      margin: 0 auto;
    }
  }

  &__controls {
    gap: 12px;
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);

    &-item {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #D1D6E3;

      &:hover,
      &-active {
      background-color: #5283FF;
      transition: .3s;
        cursor: pointer;
      }

    }
  }



}