$main-font: "Roboto", sans-serif;
$font-quicksand: "Quicksand", sans-serif;

$font-sm: 12px;
$font-md: 15px;
$font-lg: 20px;

$container-lg-width: 1235px;
$container-md-width: 920px;

$accent-color: #697CA6;
$secondary-accent-color: #5E81FE;

$breakpoint_lg: 875px;
$breakpoint_md: 768px;

$header_height: 83px;