$main-font: "Roboto", sans-serif;
$font-quicksand: "Quicksand", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

$font-xs: 10px;
$font-sm: 12px;
$font-md: 15px;
$font-lg: 20px;
$font-xl: 28px;
$font-xxl: 36px;




$container-lg-width: 1235px;
$container-md-width: 920px;

$accent-color: #697CA6;
$secondary-accent-color: #5E81FE;
$title-color: #3D4F9F;



$breakpoint_xxl: 1250px;
$breakpoint_xl: 1024px;
$breakpoint_lg: 875px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
$breakpoint_xs: 365px;

$header_height: 83px;
$stats-height: 340px;