.header {
  &__media-menu-btn {
    display: none;
  }

  @media (min-width: $breakpoint_lg) {
    [for="header__media-menu-btn"],
    .hidden-desktop {
      display: none;
    }
  }

  @media (max-width: $breakpoint_lg) {
    & {
      min-height: $header-height;
      max-height: $header-height;
    }

    &__wrapper {
      position: relative;
    }

    .row {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__social {
      width: initial;
    }

    & [for="header__media-menu-btn"] {
      background-color: #D2E1FF;
      border-radius: 2px;
      padding: 13px 21px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
    }

    &__social-cta {
      display: none;
    }

    &__navigation {
      flex-direction: row-reverse;
      justify-content: start;
      gap: 30px;
      width: 18%;
      min-width: 140px;

      nav {
        width: 100%;
        display: none;
        position: absolute;
        top: $header-height;
        left: 0;
        background-color: #E0E9FF;
        z-index: 100;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        menu {
          flex-direction: column;
          gap: 0;
        }

        a {
          display: block;
          text-align: center;
          padding: 10px 0;
          font-size: $font-lg;

          &:hover {
            background: $secondary-accent-color;
            transition: .3s;
            color: white !important;
          }
        }
      }
    }

    &__media-menu-btn {
      &:checked {
        & + nav {
          display: initial;
        }
      }

    }

  }

  @media (max-width: $breakpoint_xs) {
    &__navigation {
      gap: 20px;
    }

   &__social-icons {
     ul {
       gap: 20px;
     }
   }
  }
}