.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  font-family: $font-quicksand;
  border-bottom: 1px solid #D8E3FE;
  font-size: $font-sm;
  font-weight: 500;
  max-height: $header-height;
  min-height: $header-height;

  &__wrapper {
    padding: 18px 0;
  }


  &__navigation {
    gap: 73px;

    &-logo {
      $logo-dimensions: 26px;

      a {
        display: inline-block;
        width: $logo-dimensions;
        height: $logo-dimensions;
        background-color: $secondary-accent-color;
        border-radius: 50%;

        &:hover {
          background-color: #D8E3FE;
          transform: scale(1.2);
          transition: .3s;
        }
      }
    }

    nav {
      menu {
        gap: 42px;

        a {
          &.active {
            font-weight: 700;
            color: $secondary-accent-color;
          }

          &:hover:not(.active) {
            font-weight: 500;
            color: $secondary-accent-color;
            transition: .3s;
          }
        }
      }
    }
  }

  &__social {
    gap: 44px;

    &-icons {
      ul {
        gap: 38px;

        i {
            font-size: 20px;

          &:hover {
            transition: .3s;
            color: $secondary-accent-color;
            transform: scale(1.2);
          }
        }
      }
    }

    &-cta {
      a {
        display: inline-block;
        background-color: #D2E1FF;
        border-radius: 2px;
        padding: 13px 21px;
        box-shadow: 0 4px 4px 0 #00000040;
        font-size: 13px;
        font-weight: 700;
      }
    }
  }
}