.plan {
  height: #{calc(100vh - $header_height)};
  background-color: #F5F8FF;
  $color-plan: #3D4F9F;
  $secondary-color-plan: #8D96BD;

  &__wrapper {
    height: 100%;
    padding-top: 17vh;
  }

  &__content {
    width: 100%;

    &-col {
      width: 50%;
    }
  }

  &__title-wrapper {
    gap: 27px;
    margin-bottom: 47px;
    width: 100%;
  }

  &__subtitle {
    font-weight: 500;
    font-size: $font-xs;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: $color-plan;
  }

  &__title {
    font-family: $font-quicksand;
    font-size: $font-xxl;
    line-height: 100%;
    letter-spacing: 0%;
    color: $color-plan;
    font-weight: 400;
  }

  &__description {
    color: $secondary-color-plan;
    line-height: 191%;
    letter-spacing: 3%;
    max-width: 410px;
  }

  &__title-btn-video a,
  &__title-btn-see a {
    display: inline-block;
    border-radius: 2px;
    padding: 13px 21px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    font-size: 13px;
  }

  &__title-btn-video a {
    background-color: #4C85FF;
    color: white;
    font-weight: 700;
  }

  &__title-btn-see a {
    color: #ADB4D2;
    font-weight: 500;
  }

  &__illustration-col {
    width: 50%;

    img {
      max-width: 650px;
      width: 100%;
      position: absolute;
      height: auto;
      object-fit: cover;
    }
  }
}