.plan {
  @media (max-width: $breakpoint_xxl) {
    &__illustration-col {
      position: relative;
    }
  }

  @media (max-width: $breakpoint_lg) {
    &__content {
      flex-direction: column;
    }

    &__wrapper {
      padding: 10vh 0 0;
    }

    &__illustration-col,
    &__illustration-col img {
      position: static;
    }


    &__illustration-col,
    &__content-col {
      width: 100%;
    }

    &__title-wrapper {
      align-items: center;
    }

    &__content-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
    }

    &__illustration-col {
      display: flex;
      justify-content: center;
    }

    &__title {
      text-align: center;
    }
  }
}