.plan {
  background-color: #F5F8FF;
  $secondary-color-plan: #8D96BD;

  &__wrapper {
    height: 100%;
    padding: 17vh 0;
  }

  &__content {
    width: 100%;

    &-col {
      width: 50%;
    }
  }

  &__title-wrapper {
    gap: 27px;
    margin-bottom: 47px;
    width: 100%;
  }

  &__subtitle {
    @extend %subtitle-default;
  }

  &__title {
    @extend %less-title-default;
  }

  &__description {
    color: $secondary-color-plan;
    line-height: 191%;
    letter-spacing: 0.03em;
    max-width: 410px;
  }

  &__title-btn-video a,
  &__title-btn-see a {
    display: inline-block;
    border-radius: 2px;
    padding: 13px 21px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
    font-size: 13px;
  }

  &__title-btn-video a {
    background-color: #4C85FF;
    color: white;
    font-weight: 700;
  }

  &__title-btn-see a {
    color: #ADB4D2;
    font-weight: 500;
  }

  &__illustration-col {
    width: 50%;

    img {
      max-width: 650px;
      width: 100%;
      position: absolute;
      height: auto;
      object-fit: cover;
    }
  }
}